
<body class="bg-gradient-primary">
    <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                {{!-- <div class="col-lg-12 d-none d-lg-block bg-register-image"></div> --}}
                <div class="col-lg-12 ></div>
                    <div class=" col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 pb-4">EDIT PRODUCT</h1>
                        </div>
                        {{#product}}
                        <form class="user pt-5" action="/admin/editproduct/{{this._id}}" method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-5 mb-sm-0">
                                    <input type="text" required class="form-control form-control-sm" name="productName"
                                        id="product-name" value="{{this.productName}}" >
                                </div>
                                <div class="col-sm-6 mt-3 mb-3">

                                    <select class="form-control required form-control-sm"  name="category">
                                        <option>{{this.category}}</option>
                                        <option>Mobile Phones</option>
                                        <option>Laptops</option>
                                        
                                    </select>
                                    </div>
                                <div class="col-sm-6 mt-3 mb-3">
                                    <input type="text" required name="brand" class="form-control form-control-sm"
                                        id="brand" value="{{this.brand}}" placeholder="Brand">
                                </div>
                                <div class="col-sm-6 mb-3 ">
                                    <input type="number" required value="{{this.price}}"  name="price" required class="form-control form-control-sm"
                                        id="price" placeholder="Price">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <input type="number" required value="{{this.offerPrice}}" name="offerPrice" class="form-control form-control-sm"
                                        id="offerPrice" placeholder="Offer Price">
                                </div>
                                <div class="col-sm-6 mb-3">

                                    <select class="form-control required form-control-sm" name="RAM"> 
                                         <option>{{this.RAM}}</option>
                                        <option>4 GB</option>
                                        <option>8 GB</option>
                                        <option>16 GB</option>
                                        <option>6 GB</option>
                                        <option>12 GB</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">

                                    <select class="form-control form-control-sm" required  name="ROM">
                                        <option>{{this.ROM}}</option>
                                        <option>16 GB</option>
                                        <option>32 GB</option>
                                        <option>64 GB</option>
                                        <option>128 GB</option>
                                        <option>256 GB</option>
                                        <option>512 GB</option>
                                        <option>1 TB</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <input type="text" value="{{this.color}}" required name="color" class="form-control form-control-sm"
                                        id="quantity" placeholder="colour">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <input type="number" required value="{{this.quantity}}" name="quantity" class="form-control form-control-sm"
                                        id="quantity" placeholder="Quantity">
                                </div>
                                
                                <div class="form-group col-sm-12 mb-5">
                                    {{!-- <input type="option" name="RAM" class="form-control form-control-user"
                                        id="exampleInputEmail" placeholder="RAM"> --}}
                                        <input id="discription" required value="{{this.discription}}" name="discription" class="form-control form-control-sm placeholder="Add product discription" style="height: 50px; width: 1000px;"
                                    {{!-- <textarea id="discription" value="{{this.discription}}" name="discription" style="width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical " placeholder="Add product discription" ></textarea>
  <script>
      $("#discription").val(result.{{this.discription}});
  </script> --}}
                                </div>

                                <div class="col-sm-12 pt-5 pb-5" style="text-align: center; color: black;">
                                    <h3 style="text-align: center;">Add Images</h3>
                                </div>
                                 <div class="col-sm-12 mb-3 ">
                                    <div class="col-md-3">
                                        <label for=""></label>
                                   <img src="/product-images/{{this._id}}.jpg" id="imgview" alt="" style="width: 100px;height: 100px;">

                                    </div>
                                   <div class="col-md-12 mb-3">
                                

                                    <input type="file" required name="image1" class="form-control" onchange="viewImage(event)">
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-3 ">
                                    <div class="col-md-3">
                                        <label for=""></label>
                                   <img src="/product-images/{{this._id}}-1.jpg" id="imgview2" alt="" style="width: 100px;height: 100px;">

                                    </div>
                                   <div class="col-md-12 mb-3">
                                

                                    <input type="file" required name="image2" class="form-control" onchange="viewImage2(event)">
                                    </div>
                                </div>
                                 <div class="col-sm-12 mb-3 ">
                                    <div class="col-md-3">
                                        <label for=""></label>
                                   <img src="/product-images/{{this._id}}-2.jpg" id="imgview3" alt="" style="width: 100px;height: auto;">

                                    </div>
                                   <div class="col-md-12 mb-3">
                                

                                    <input type="file" required name="image3" class="form-control" onchange="viewImage3(event)">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                    EDIT PRODUCT
                                </button>
                                {{/product }}

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
 function viewImage(event){
     document.getElementById('imgview').src=URL.createObjectURL(event.target.files[0])
     
 }   
 function viewImage2(event){
    
     document.getElementById('imgview2').src=URL.createObjectURL(event.target.files[0])
     
 }   
 function viewImage3(event){
     
     document.getElementById('imgview3').src=URL.createObjectURL(event.target.files[0])
 }   
</script>
</body>
